<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>What is going on here?</h4>
    <p>This is a blog about random things happening in my life.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic), class: 'link-color' %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Social</h4>
    <ol class="list-unstyled social-links">
      <li class="github"><a class="githubhover" href="https://github.com/lokishorns2019"><%= fa_icon "github" %></a></li>
      <li class="twitter"><a class="twitterhover"href="https://twitter.com/thorthemighty4"><%= fa_icon "twitter" %></a></li>
      <li class="instagram"><a class="instagramhover"href="https://www.instagram.com/thorthemighty2019/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>