
<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="#19202b">
    <meta name="theme-color" content="#19202b">
    <meta name="msapplication-navbutton-color" content="#19202b">
</head>

<div class="shady app-card-container keep-away-nav">
    <div class="card">
       <h1>My Photography and Art.</h1>
       <hr>
       <div id="carouselExampleIndicators" class="shady carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "Fab4.jpg", class:"d-block w-100", alt:"Very beautiful pic", :height => "100%" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Moonatnight.JPG", class:"d-block w-100", alt:"Very inspiring pic.", :height => "100%" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "THORMADSEN.jpg", class:"d-block w-100", alt:"Tree!!", :height => "100%" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "OutofFocus.JPG", class:"d-block w-100", alt:"Nature at its finest.", :height => "100%" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "tree.JPG", class:"d-block w-100", alt:"Another Tree!!", :height => "100%" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only arrow-color">Previous</span>
  </a>
  <a class="carousel-control-next arrow-color" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only arrow-color">Next</span>
  </a>

    </div>
    
    <hr>
    
    <h3>What's This?</h3>
    
    <p>This is a gallery of my freelance art work. As of right now none of these items are available for purchase. However, this page is still currently in development. Which means I am still working on this functionality. Please enjoy!</p>
    
    </div>
</div>